@model IEnumerable<TRMDesktopUserI.Library.Models.Production_Plan.ProductionGoals>

@{
    ViewBag.Title = "ProductionGoal";
}

<h2>ProductionGoal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.production)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rush)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.target)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.production)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rush)
        </td>
      
    </tr>
}

</table>
