@model IEnumerable<TRMDesktopUserI.Library.Models.Production_Plan.ProductionGoals>

@{
    ViewBag.Title = "projectParameters";
}

<h2>projectParameters</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("projectParameters", "ProjectParameters", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.target)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productid)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.target)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    <input type="submit" value="EditData" onclick="location.href='@Url.Action("GetData","Create" )'" />

                </td>
            </tr>
        }

    </table>
}